<form method="post" action="/recipes">
  <input type="text" name="name" id="name">
  <input type="text" name="cook_time" id="cook_time">
  <input type="text" name="ingredients" id="ingredients">
  <input type="submit" name="submit" id="submit">
</form>